body{
  background: rgb(14, 13, 13)
}
.mouseNotHover {
  opacity: 0.7;
  -webkit-transition: opacity .7s ease-in-out;
  -moz-transition: opacity .7s ease-in-out;
  -ms-transition: opacity .7s ease-in-out;
  -o-transition: opacity .7s ease-in-out;
  transition: opacity .7s ease-in-out;
}

.colorBackground {
  background: white;
  width: 57vw;
}

.mouseHover {
  opacity: 1;
  -webkit-transition: opacity .7s ease-in-out;
  -moz-transition: opacity .7s ease-in-out;
  -ms-transition: opacity .7s ease-in-out;
  -o-transition: opacity .7s ease-in-out;
  transition: opacity .7s ease-in-out;
}

.container-video{
  margin-left: 35vw;
  margin-top: 30px;
}

.navBar{
  position: fixed;
  width: 44px;
  height: 100vh;
  background: red;
  margin-top: -30px;
}

.about{
  display: flex;
  justify-content: center;
  margin-top: 50vh;
}

.texte{
  margin-left: 35vw;
  color: #F7C974;
}

.introVideo{
  max-width: 30vw;
  transform: rotate(-30deg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.landing{
  height: 100vh;
  width: 100vw;
}

.logoWhite{
  width: 84px;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.titrePortfolio{
  position: absolute;
  color: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  font-size: 40px
}

.nav{
  position: fixed;
  height: 100vh;
  width: 35px;
  background: whitesmoke;
  display: flex;
  justify-content: center;

  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}


.hiden{
  position: fixed;
  height: 100vh;
  width: 0px;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  

  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.plusNav{
  margin-top: 50vh
}