@font-face {
  font-family: CODE;
  src: url(CODE3X-R.OTF);
}
@font-face {
  font-family: GotBold;
  src: url(Gotham-Bold.otf);
}
@font-face {
  font-family: Gotlight;
  src: url(Gotham-light.otf);
}
body{
  font-family: GotBold;

  background: rgb(20,20, 20)
}
.mouseNotHover {
  filter: grayscale(100%) contrast(200%);
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.colorBackground {

  width: 57vw;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}
.colorBackground:hover {

  width: 58vw;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.mouseHover {
  filter:none;
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.container-video{
  margin-left: 35vw;
  margin-top: 50px;
}



.about{
  display: flex;
  justify-content: center;
  margin-top: 50vh;
}

.texte{
  margin-left: 35vw;
  color: #F7C974;
}

.introVideo{
  position: absolute;
  margin-left: 23vw;
  width: 60vw;
  margin-top: 20vh;
  -webkit-filter: grayscale(100%) ;
  filter: grayscale(100%)  ;
}

.introVideoHover{
  position: absolute;
  margin-left: 23vw;
  width: 60vw;
  margin-top: 20vh;

}



.introVideo2{
  position: absolute;
  margin-left: 40vw;
  width: 1.2vw;
  margin-top: 60vh;
  -webkit-filter: grayscale(100%) ;
  filter: grayscale(100%) 
}

.introVideoHover2{
  position: absolute;
  margin-left: 40vw;
  width: 1.2vw;
  margin-top: 60vh;

}

.introVideo3{
  position: absolute;
  margin-left: 45vw;
  width: 40vw;
  margin-top: 40vh;
  -webkit-filter: grayscale(100%) ;
  filter: grayscale(100%) 
}

.introVideoHover3{
  position: absolute;
  margin-left: 45vw;
  width: 40vw;
  margin-top: 40vh;

}

.landing{
  min-height: 100vh;

}

.logoWhite{
  width: 84px;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.titrePortfolio{
  font-family: CODE;
  position: absolute;
  color: rgb(74, 74, 74);
  right: 0;
  margin-right: 12vw;
  margin-top: 81vh;
  font-size: 3.5vw;
}

.nav{
  position: fixed;
  height: 100vh;
  width: 40px;
  background: black;
  display: flex;
  justify-content: center;

  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.nav:hover{
  width: 65px;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}


.navOpen{
  position: fixed;
  height: 100vh;
  width: 30vw;
  background: black;
  display: flex;
  justify-content: center;
  z-index: 10000000;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}



.plusNav{
  margin-top: 48vh;
  color: rgb(74, 74, 74);
  font-size: 44px;

}


.About{
 opacity: 1;
 -webkit-transition: all .7s ease-in-out;
 -moz-transition: all .7s ease-in-out;
 -ms-transition: all .7s ease-in-out;
 -o-transition: all .7s ease-in-out;
 transition: all .7s ease-in-out;
  color: rgb(74, 74, 74);
  font-size: 44px;

}
.AboutFermer{
  opacity: 0;
  display: none;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}
.plusNavOpen{


display: none

}


.texte-hover-video{
  color: black;
  position: absolute;
  margin-left: 23vw;
  width: 60vw;
  margin-top: 20vh;
  display: -webkit-flex;

}

.dispflex{
  font-size: 120px;
  margin-top: -130px;
}

.texte-hover-video2{
  color: black;
  position: absolute;
  margin-left: 40vw;
  width: 1.2vw;
  margin-top: 60vh;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}


.dispflex2{
  font-size: 85px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 6vh;
}


.texte-hover-video3{
  color: black;
  position: absolute;
  margin-left: 45vw;
  width: 40vw;
  margin-top: 40vh;


}


.dispflex3{
  font-size: 100px;
margin-top: -110px
}

.hiding{
  display: none;
}

.projectInfo{
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.titreProjet{
  font-family: Gotlight;
  font-size: 30px;
  color: rgb(74, 74, 74);
}